    <!-- WhyWeRide Section -->
    <section id="whyweride" class="content-section text-justify">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h3>Ride to end violence.</h3>
                    <img asp-append-version="true" alt="ssf-pitch" style="float:left; padding-right:10px; padding-bottom:10px" src="~/img/ssf-pitch.jpg" /> 
                    <p>
                       Sanctuary for Families is New York City’s largest non-profit organization dedicated to serving survivors of domestic violence, sex trafficking, and related forms of gender violence. Each year, Sanctuary helps many thousands of the metropolitan region’s most vulnerable abuse survivors on their journeys from immediate survival, to stability, to long-term independence and freedom from violence. Sanctuary’s shelter, counseling, legal representation, and career training programs reached 16,000 adults and children last year—the vast majority of them families living in acute poverty, including many in Sanctuary’s and other shelters. Through community outreach and professional training, Sanctuary also reached 25,000 concerned New Yorkers last year, from judges, police, and medical professionals to faith-based communities and school audiences.
                    </p>
                    <p></p>

                    <h3>WHY IT MATTERS</h3>
                    <p>
                        Although many policymakers fail to recognize it, domestic violence is a public health crisis, resulting in untold injuries and fatalities, short- and long-term mental health problems, lost productivity, and enormous expenses for health, social service, and criminal justice systems. Nationwide, over 10 million individuals are victims of abuse annually, and an average of three women are murdered every day in domestic violence incidents. Over 10 million children in the U.S. witness domestic violence each year, and they are many times more likely to be victims or perpetrators later in life. Domestic violence victims lose nearly 8 million days of paid work per year—the equivalent of 32,000 full-time jobs. In New York City, even as other incidents of violent crime have steadily declined, cases of domestic violence continues to rise: domestic violence police reports have increased in the last few years, and intimate partner homicides spiked 20% last year. While domestic violence affects victims of all socioeconomic classes, it is particularly devastating for low-income individuals and families. In many cases, even victims who previously lived in situations of economic security—for example, if their abuser was the primary wage earner—are rendered homeless and destitute after fleeing abuse. It is the leading cause of family homelessness: more than a third of families in the city’s shelter system are there as a result of domestic violence.
                    </p>

                    <h3>SANCTUARY’S SOLUTION</h3>
                    <p>
                        Sanctuary is dedicated to creating a world in which freedom from gender-based violence is a basic human right. We seeks to deliver the comprehensive range of services abuse survivors need, no matter where they are on their journey from survival to independence. Founded in 1984 as a small network of safe homes, Sanctuary today has 200 staff working out of six offices and five shelters citywide. Staff speak nearly 40 languages, allowing them to offer an unmatched array of services to abuse survivors from all over the world. Sanctuary offers:
                    </p>
                    <p>
                        <ul>
                            <li>
                                Safe, confidential shelter to 400 women and children annually (200 women and children each night) with comprehensive clinical and post-shelter services.
                            </li>
                            <li>
                                The nation’s largest domestic violence legal program, with 50 staff attorneys who provide representation and advice to over 6,000 clients annually in matters including immigration, divorce, child support and custody, protection orders, housing, and public benefits.
                            </li>
                            <li>
                                Trauma-informed counseling by 36 licensed social workers, focused on alleviating trauma symptoms, instilling long-term coping strategies, and cultivating healthy families in the wake of abuse.
                            </li>
                            <li>
                                Intensive career training for 150-200 women annually, leading to nationally recognized certifications in MS Word, Excel and PowerPoint and good jobs in high-growth service sector fields.
                            </li>
                            <li>
                                Well-stocked food pantry and donated clothing boutique, and a robust emergency cash assistance program to help clients in crisis.
                            </li>
                        </ul>
                    </p>

                    <h3>IMPACT/RETURN ON INVESTMENT</h3>
                    <p>
                        A consistent recipient of Charity Navigator’s 4-star rating, Sanctuary has a $24 million annual budget which supports the work of over 200 social workers, attorneys, shelter workers, and job trainers at 11 offices and shelters citywide. Sanctuary spends 85% of its revenue on direct program services, and leverages its work by mobilizing the skills of more than 3,000 volunteers annually, including 1,500 pro bono attorneys who provided thousands of hours of legal services valued at over $34 million last year. Sanctuary’s work transforms lives for thousands of abuse survivors and children each year, and its outcomes are unmatched—from the nearly 100% success rate in immigration and orders of protection cases, to the over 360 good jobs with salaries averaging more than twice as high as U.S. minimum wage attained by career training program graduates.
                    </p>
                </div>
            </div>
        </div>
    </section>
