    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Manhattan to Niagara Falls</h1>
                        <p class="intro-text">
                            Ride for freedom from gender violence 
                            <br>Support Sanctuary for Families
                        </p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>About The Ride</h2>
                    <p>
                        Sanctuary ride is a 5 day, 520 miles ride from Manhattan to Niagara Falls that raises fund to help survivors of domestic violence, sex trafficking and related forms of gender violence.
                    </p>
                    <p> 
                        The ride will start from the beautiful Central Park and end in the picturesque city of Niagara Falls.  
                    </p>
                    <p>
                        You will be riding north to upstate New York along the majestic Hudson River via Dutchess County to Albany. From Albany, we will turn north-west and cycle 
                        <a href="https://www.ptny.org/cycle-the-erie-canal"> the Erie Canal</a> 
                        along the Erie Canalway Trail.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <div class="heading heading-with-icon icon-left">
                        <div class="icon">
                            <i style="border-color:#333333;border-width:1px;background-color:#333333;box-sizing:content-box;height:42px;width:42px;line-height:42px;border-radius:50%;color:#ffffff;font-size:21px;" class="fa fontawesome-icon fa-calendar circle-yes">
                            </i>
                            <h2 style="font-size:15px;">Dates</h2>
                        </div>
                    </div>
                    <div class="fusion-clearfix"></div>
                    <div class="content-container" style="padding-left:64px;color:#747474;">
                        <p style="text-align: left;">
                            <strong>
                                Aug 29-Sep 2, 2018<br>
                                (5 riding days)
                            </strong><em>
                                <br>
                            </em>
                        </p>
                        <p style="text-align: left;">
                            The Ride is fully supported
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="heading heading-with-icon icon-left">
                        <div class="icon">
                            <i style="border-color:#333333;border-width:1px;background-color:#333333;box-sizing:content-box;height:42px;width:42px;line-height:42px;border-radius:50%;color:#ffffff;font-size:21px;" class="fa fontawesome-icon fa-bicycle circle-yes">
                            </i>
                            <h2 style="font-size:15px;">Distance</h2>
                        </div>
                    </div>
                    <div class="fusion-clearfix"></div>
                    <div class="content-container" style="padding-left:64px;color:#747474;">
                        <p style="text-align: left;">
                            <strong>
                                520 miles<br>
                            </strong><strong>(Manhattan to Niagara Falls)</strong><em>
                                <br>
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="heading heading-with-icon icon-left">
                        <div class="icon">
                            <i style="border-color:#333333;border-width:1px;background-color:#333333;box-sizing:content-box;height:42px;width:42px;line-height:42px;border-radius:50%;color:#ffffff;font-size:21px;" class="fa fontawesome-icon fa-sign-in circle-yes">
                            </i>
                            <h2 style="font-size:15px;">Register</h2>
                        </div>
                    </div>
                    <div class="fusion-clearfix"></div>
                    <div class="content-container" style="padding-left:64px;color:#747474;">
                        <p style="text-align: left;">
                            <strong>
                                <a href="https://support.sanctuaryride.org/2018">Join Us</a><br>
                                <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Routes Section -->
    <section id="routes" class="download-section content-section">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>Routes</h2>
                <p>
                    <a href="https://www.strava.com/routes/11784642" target="_blank" class="btn btn-link">Day 1 - Central Park to Poughkeepsie</a><br/>
                </p>
                <p>
                    <a href="https://www.strava.com/routes/11792854" target="_blank" class="btn btn-link">Day 2 - Poughkeepsie to Schenectady</a><br/>
                </p>
                <p>
                    <a href="https://www.strava.com/routes/11793087" target="_blank" class="btn btn-link">Day 3 - Schenectady to Canastota</a><br/>
                </p>
                <p>
                    <a href="https://www.strava.com/routes/11793169" target="_blank" class="btn btn-link">Day 4 - Canastota to Pittsford</a><br/>
                </p>
                <p>
                    <a href="https://www.strava.com/routes/11793209" target="_blank" class="btn btn-link">Day 5 - Pittsford to Niagara Falls</a><br/>
                </p>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact Sanctuary Ride</h2>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="mailto:nelson.lin@jet.com" class="btn btn-default btn-lg">
                                <i class="fa fa-send fa-fw"></i>
                                <span class="network-name">Email</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/RealSanctuaryRide" class="btn btn-default btn-lg">
                                <i class="fa fa-twitter fa-fw"></i>
                                <span class="network-name">Twitter</span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/SanctuaryRide/posts" class="btn btn-default btn-lg">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
