    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <p class="intro-text">
                            Ride for freedom from gender violence 
                            <br>Support Sanctuary for Families
                        </p>
                        <a href="#about" class="btn btn-circle js-scroll-trigger">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h2>About The Ride</h2>
                    <p>
                        Sanctuary ride is a 5 day, 500 miles ride from Manhattan to Niagara Falls that raises fund to help survivors of domestic violence, sex trafficking and related forms of gender violence.
                    </p>
                    <p> 
                        The ride will start from the beautiful Central Park and end in the picturesque Niagara Falls State Park.  
                    </p>
                    <p>
                        During the ride, you will get to appreciate the Hudson River Valley, the Catskill Mountains, Finger Lakes, historical Erie Canal, and finally, the majetic Niagara Falls.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <div class="heading heading-with-icon icon-left">
                        <div class="icon">
                            <i style="border-color:#333333;border-width:1px;background-color:#333333;box-sizing:content-box;height:42px;width:42px;line-height:42px;border-radius:50%;color:#ffffff;font-size:21px;" class="fa fontawesome-icon fa-calendar circle-yes">
                            </i>
                            <h2 style="font-size:15px;">Dates</h2>
                        </div>
                    </div>
                    <div class="fusion-clearfix"></div>
                    <div class="content-container" style="padding-left:64px;color:#747474;">
                        <p style="text-align: left;">
                            <strong>
                                Aug 28-Sep 1, 2019<br>
                                (5 riding days)
                            </strong><em>
                                <br>
                            </em>
                        </p>
                        <p style="text-align: left;">
                            The Ride is fully supported
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="heading heading-with-icon icon-left">
                        <div class="icon">
                            <i style="border-color:#333333;border-width:1px;background-color:#333333;box-sizing:content-box;height:42px;width:42px;line-height:42px;border-radius:50%;color:#ffffff;font-size:21px;" class="fa fontawesome-icon fa-bicycle circle-yes">
                            </i>
                            <h2 style="font-size:15px;">Distance</h2>
                        </div>
                    </div>
                    <div class="fusion-clearfix"></div>
                    <div class="content-container" style="padding-left:64px;color:#747474;">
                        <p style="text-align: left;">
                            <strong>
                                800km/500miles (Elevation gain of 6982m/22900ft)<br>
                            </strong><strong>(Manhattan to Niagara Falls)</strong><em>
                                <br>
                            </em>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 mx-auto">
                    <div class="heading heading-with-icon icon-left">
                        <div class="icon">
                            <i style="border-color:#333333;border-width:1px;background-color:#333333;box-sizing:content-box;height:42px;width:42px;line-height:42px;border-radius:50%;color:#ffffff;font-size:21px;" class="fa fontawesome-icon fa-sign-in circle-yes">
                            </i>
                            <h2 style="font-size:15px;">FAQ</h2>
                        </div>
                    </div>
                    <div class="fusion-clearfix"></div>
                    <div class="content-container" style="padding-left:64px;color:#747474;">
                        <p style="text-align: left;">
                            <strong>
                                <a class="nav-link js-scroll-trigger" asp-controller="Faq" asp-action="Index">Join Us</a>
                                <a href="https://www.facebook.com/SanctuaryRide/posts" class="btn btn-sm">
                                    <i class="fa fa-facebook fa-fw"></i>
                                    <span class="network-name">Facebook</span>
                                </a>
                                <br />
                                <br />
                            </strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Routes Section -->
    <section id="routes" class="download-section content-section">
        <a name="route" />
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2>the Route</h2>
                <iframe src="https://ridewithgps.com/embeds?type=event&eventId=83600&title=Sanctuary%20Ride%205-day%20route&description=From%20NYC%20to%20Niagara%20Falls&sampleGraph=true&defaultShowAll=true" style="width: 1px; min-width: 100%; height: 700px; border: none;" scrolling="no"></iframe>
            </div>
        </div>
    </section>

