    <!-- Register Section -->
<header style="background:url(../img/register-bg.png) no-repeat bottom center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                    <p class="text-left">
                        <b>Starting Point</b>
                    </p>
                    <p class="text-left">
                        Central Park, NYC
                    </p>
                    <p class="text-left">
                        <b>Cost</b>
                    </p>
                    <p class="text-left">
                        When you register, you will be asked to pay a registration fee of $500 (USD).  A further $300-$500 will be payable before the actual departure date, depending on the size of the registered group (the bigger the group, the lower the individual cost would be).
                    </p>
                    <p class="text-left">
                        The ride is fully supported and self funded and there is no minimum fund-raising requirement.  However, it would be very much appreciated if you set up a fund-raising page and help raise awareness as well as donations for Sanctuary For Families.
                    </p>
                    <p class="text-left">
                        <b>What is included</b>
                    </p>
                    <p class="text-left">
                        <ul style="text-align:left">
                            <li>Event jersey</li>
                            <li>Accommodation for the duration of the ride.  4 nights in total.  (Accommodation for you and your family/friends on the last night at Niagara Falls can be arranged at extra cost)</li>
                            <li>3 meals and snacks for 2 rest stop breaks throughout the ride except for breakfast on Day 1 and dinner on Day 5</li>
                            <li>Support crew and support car, which will carry spare tubes, first aid kit, as well as bicycle repair kit, and emergency equipment.</li>
                            <li>Water, sports drink, and energy bars throughout</li>
                        </ul>
                    </p>   
                        
                    <p class="text-left">
                        <b>What is not included</b>
                    </p>
                    <p class="text-left">
                        <ul style="text-align:left">
                            <li>Breakfast on Day 1</li>
                            <li>There will be a self-funded celebration dinner at Niagara Falls and we invite your family and friends to join us for the special moment.  Details will be shared closer to departure.</li>
                            <li>Bike transfer to New York City or your next destination after the ride</li>
                            <li>The ride finishes on the U.S. side of Niagara Falls.  If you wish to visit the Canadian side of the Falls, you are responsible for checking any visa requirements that may apply.</li>
                        </ul>
                    </p>   
                        
                </div>
            </div>
        </div>
    </div>
</header>
