    <!-- Register Section -->
<header class="masthead" style="background:url(../img/register-bg.jpg) no-repeat bottom center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h3>
                        Registration for the ride will open in April 2018!!!
                    </h3>
                    <p class="intro-text">
                        <br />
                        Stay tuned
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
