    <!-- Register Section -->
<header style="background:url(../img/blog-bg.png) no-repeat bottom center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:100px">
                    <span style="padding:0.4em;letter-spacing:3px; background-color:#bbb; margin-bottom:3px">Sunday, April 29, 2018</span>
                    <br /><br />
                    <h4>First Recon Trip</h4>
                    <p class="text-left">
                        First recon trip (cue motivating music)!  It has finally stopped snowing (or so we thought) so Nelson and I wanted to take advantage of this beautiful spring weather and check out the route for Sanctuary Ride Day 1 and 2.
                    </p>

                    <p class="text-left">
                        Main mission of the 1st car recon is to check out the route and all the rest stops, dinner spots, and accommodation.  There are times when riders will separate from the support car(s) and I hope to map both the car and cycling routes.
                    </p>

                    <p class="text-left">
                        After some initial navigation challenges (long story which involves us accidentally going back to Manhattan from New Jersey and then having to drive back to New Jersey where the bike route is LOL), we were on our way and managed to check out all the rest stops for Day 1 and 2.  There are lots of picnic tables and all our rest stops are along the Hudson River.  We even tested all the toilets and are happy to report back that they are clean. :-)
                    </p>

                    <p class="text-left">
                        There are lots of cherry blossoms on the road which is absolutely beautiful.  I sometimes forget how pretty the natural scenery is outside NYC.
                    </p>

                    <p class="text-left">
                        We made it to Poughkeepsie at 4pm, which was really behind our schedule (thanks to Ashley's superb navigation... not).  This would be where we finish the ride for Day 1.  We grabbed a quick bite at a super authentic Mexican restaurant (Ricky, Nelson and I had a really nice dinner there last July) and kept on driving.
                    </p>

                    <p class="text-left">
                        The route for Day 2 is amazing, gentle rolling hills and your quintessential upstate New York scene.  We are still going along the Hudson River and are satisfied with our rest stop choices.  By now it was getting pretty dark and there was a storm approaching - thunder and lightning!  We checked out the last rest stop for Day 2 in pouring rain and total darkness :-)  To wrap up for this long day we finally arrived at Schenectady close to 10pm.
                    </p>

                    <p class="text-left">
                        It was freezing when we woke up the next morning and apparently it was snowing in Syracuse only 120 miles away.  Crazy crazy weather!  We spent some time driving along the Erie Canal Bikeway.  It was tranquil and peaceful only if it was not so cold!
                    </p>

                    <p class="text-left">
                        I am now really pumped about the ride, having seen what the first two days look like!  With the next car recon, Nelson and I plan to catch the train to Syracuse (it better not be still snowing!) and follow our planned route for Day 3 and 4.  If we are lucky we might even get a sneak preview of Niagara Falls.  :-)
                    </p>

                    <p class="text-left">
                        Watch this space!
                    </p>
                </div>
                <div class="col-lg-8 mx-auto" style="padding:0.4em; background-color:#666; line-height:1.6; font-size:90%">
                    Posted by Ashley Tsai at 11:15 PM
                </div>
            </div>
        </div>
    </div>
</header>
