    <!-- Register Section -->
<header style="background:url(../img/blog-bg.png) no-repeat bottom center">
    <div class="intro-body">
        <div class="container">            
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:100px">
                    <a target="_blank" href="https://www.wgrz.com/amp/article?section=news&subsection=local&headline=500-mile-bike-ride-to-end-gender-violence-finishes-in-niagara-falls&contentId=71-590339075">
                    <img width="640" height="360" src="../img/blog/wgrz.png" alt="Link to Niagara Falls NBC News Clip" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                     <video width="640" height="480" controls>
                      <source src="https://video.relive.cc/72176840001_relive_1556474322231.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>              
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                     <video width="640" height="480" controls>
                      <source src="https://video.relive.cc/0601958081_strava_1556484742893.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>              
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                     <video width="640" height="480" controls>
                      <source src="https://video.relive.cc/7218940181_strava_1556489164214.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>              
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                     <video width="640" height="480" controls>
                      <source src="https://video.relive.cc/4780582181_strava_1556489696553.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>              
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                     <video width="640" height="480" controls>
                      <source src="https://video.relive.cc/9162675181_strava_1556493237735.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>              
                </div>
            </div>
        </div>
    </div>
</header>
