    <!-- Register Section -->
<header style="background:url(../img/blog-bg.png) no-repeat bottom center">
    <div class="intro-body">
        <div class="container">            
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:100px">
                    For more highlights, go to Sanctuary Ride Facebook Page
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/SanctuaryRide/posts" class="btn btn-default btn-lg">
                                <i class="fa fa-facebook fa-fw"></i>
                                <span class="network-name">Facebook</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    Start of the ride briefing on Day 1 &#x1f6b2;
                    <img alt="Start of the ride briefing on Day 1" src="../img/blog/7399.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    Bagel breakfast at Rockland Lakes State Park
                    <img alt="Bagel breakfast at Rockland Lakes State Park" src="../img/blog/7413.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    On the top of Storm King mountain
                    <img alt="On the top of Storm King mountain" src="../img/blog/7426.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    Powered by Sanctuary For Families!
                    <img alt="Powered by Sanctuary For Families!" src="../img/blog/7546.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    Rolling Hills near Ithaca
                    <img alt="Rolling Hills near Ithaca" src="../img/blog/7566.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    Riding along the beautiful Erie Canal
                    <img alt="Riding along the beautiful Erie Canal" src="../img/blog/7614.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    The famous canal locks at Lockport
                    <img alt="The famous canal locks at Lockport" src="../img/blog/7636.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    Champagne and TV News crews, what a way to finish the ride!
                    <img alt="Champagne and TV News crews, what a way to finish the ride!" src="../img/blog/7648.jpg" style="margin: 0px 5px 5px 0px; border: 5px solid white;" /> 
                </div>
            </div>
        </div>
    </div>
</header>
