    <!-- Register Section -->
<header style="background:url(../img/blog-bg.png) no-repeat bottom center">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:100px">
                    <a target="_blank" href="https://www.wgrz.com/amp/article?section=news&subsection=local&headline=500-mile-bike-ride-to-end-gender-violence-finishes-in-niagara-falls&contentId=71-590339075">
                        <img class="responsive" src="../img/blog/wgrz.png" alt="Link to Niagara Falls NBC News Clip" />
                    </a>
                </div>
            </div>
            <a name="2019D1" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/64927080001_relive_1567538200544.mp4#t=1" type="video/mp4">Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="2019D2" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/42767080001_relive_1567541295189.mp4#t=1" type="video/mp4">Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="2019D3" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/22877080001_relive_1567541264071.mp4#t=1" type="video/mp4">Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="2019D4" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/70887080001_relive_1567542772194.mp4#t=1" type="video/mp4">Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="2019D5" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/34887080001_relive_1567545220356.mp4#t=1" type="video/mp4">Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="day1" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/72176840001_relive_1556509418312.mp4#t=1" type="video/mp4">                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="day2" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/0601958081_strava_1556508582625.mp4#t=1" type="video/mp4">                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="day3" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/7218940181_strava_1556507754558.mp4#t=1" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="day4" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/4780582181_strava_1556498248874.mp4#t=1" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            <a name="day5" />
            <div class="row">
                <div class="col-lg-8 mx-auto" style="margin-top:25px">
                    <video controls>
                        <source src="https://video.relive.cc/9162675181_strava_1556493237735.mp4#t=1" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>
</header>
